
[package]
name = 'ochra'
version = '0.5.0'
edition = '2021'

[dependencies]
raw-gl-context = {path = './libs/patch/raw-gl-context'}
winit = '=0.28'
raw-window-handle = '=0.5.2'
image = '=0.24.6'
notify = '=4.0.17'
lcms2 = '=5.6.0'
fontdue = '=0.6.4'
textwrap = '=0.14.2'
rustybuzz = '=0.4.0'


[target.'cfg(windows)'.dependencies]
windows = {version = '=0.48', features = ['Win32_UI_ColorSystem', 'Win32_Foundation', 'Win32_Graphics_Gdi']}

[build-dependencies]
gl_generator = '=0.14.0'

[target.'cfg(windows)'.build-dependencies]
winres = '=0.1.12'

[profile.release]
strip = 'debuginfo'
